body,
html {
  height: 100%;
}
.dos {
  background-image: url("../../images/ales-nesetril-Im7lZjxeLhg-unsplash.jpeg");
  /* background-image: url("https://unsplash.com/photos/SQeNe3Xas4w"); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
h2 {
  color: white;
}

#portafolio .container-fluid {
  padding-left: 0%;
}

#portafolio .item {
  padding-left: 0% !important;
  padding-right: 0% !important;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

/* Zoom Effect */

.portfolio-item img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Overlay Effect */

.portfolio-item-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14, 14, 17, 0.9);
  cursor: -webkit-zoom-in;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Item Details Effect */

.portfolio-item-details {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.portfolio-item-details h3 {
  color: #b94a2f;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-item-details span {
  display: inline-block;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  height: 6px;
  width: 30px;
  margin: 11px auto 5px auto;
}

.portfolio-item-details p {
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Show Overlay on mouse over */

.portfolio-item:hover .portfolio-item-details h3 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-details p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-item:hover .portfolio-item-overlay {
  opacity: 1;
}
