body,
html {
  height: 100%;
}
.uno {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  /* background-image: url("https://unsplash.com/photos/SQeNe3Xas4w"); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
.uno h2 {
  color: #000 !important;
}
