•filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: white;
  color: Orgb(65, 98, 168);
  border-radius: 1rem;
  border: 2px solid Orgb(65, 98, 168);
  font-weight: bold;
  cursor: pointer;
}
button.active {
  background: Drgb(65, 98, 168);
  color: Iwhite;
}
