body,
html {
  height: 100%;
}
.tres {
  background-image: url("../../images/luca-bravo-XJXWbfSo2f0-unsplash.jpeg");
  /* background-image: url("https://unsplash.com/photos/SQeNe3Xas4w"); */
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
}
.tres h2 {
  color: white;
}
