.App {
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
}


.App-link {
  color: #61dafb;
}

.btn-delete:hover{
  background-color: #a72828!important;
  border-color: #a72828!important;
}

a.nav-link {
  text-transform: capitalize!important;
  text-decoration:none!important;
}