.App {
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
}

.badge{
  color: black!important;
}
.App-link {
  color: #61dafb;
}

.btn-delete:hover{
  background-color: #a72828!important;
  border-color: #a72828!important;
}